[Desktop Entry]
Name=Package Updates for COSMIC
Comment=Universal package update checker applet
Type=Application
Exec=cosmic-ext-package-updates
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Iced;
Icon=tux-normal
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
X-OverflowPriority=10
